html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET */

.navbar {
    width: 100vw;
    height: 10vh;
    background-color: #f162ff;
}

.navbar ul {
    margin-left: 3em;
}

.navbar ul li {
    display: inline-block;
    margin-top: 2em;
    margin-right: 3em;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffd79d;
}

.navbar ul li:hover a {
    font-weight: bold;
    color: #320d3e;
}

.container {
    width: 100vw;
    height: 90vh;
    background-color: #320d3e;
    clear: both;
}

.leftbox {
    background-color: grey;
    position: relative;
    width: 50vw;
    height: 90vh;
    float: left;
}

.leftbox h1 {
    font-size: 5rem;
    position: absolute;
    left: 1em;
    top: 1em;
    color: #f162ff;
}

.leftbox p {
    position: absolute;
    font-size: 1.3rem;
    top: 10em;
    left: 4em;
    line-height: 1.4em;
    color: #ffd79d;
}

.rightbox {
    width: 50vw;
    height: 90vh;
    background-color: darkcyan;
    float: left;
    position: relative;
}

.gaming {
    margin-top: 4em;
    margin-left: 20em;
}

.gaming .background {
    width: 7em;
    height: 7em;
    background-color: #ffd79d;
    border: 0.2em solid black;
    float: left;
    margin-right: 1em;
}

.gaming .background img {
    width: 6em;
    height: 6em;
    margin-left: 0.5em;
}

.gaming h4 {
    font-size: 2rem;
    color: #f162ff;
    margin-bottom: 0.8em;
}

.gaming p {
    color: #ffd79d;
    line-height: 1.5em;
    float: left;
}