html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET */

body h1 {
    font-size: 5rem;
}

body h2 {
    font-size: 4rem;
}

body h3 {
    font-size: 3rem;
}

body h4 {
    font-size: 2rem;
}

.navbar {
    width: 100vw;
    height: 10vh;
    background-color: #f162ff;
}

.navbar ul {
    margin-left: 3em;
}

.navbar ul li {
    display: inline-block;
    margin-top: 2em;
    margin-right: 3em;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffd79d;
}

.navbar ul li:hover a {
    font-weight: bold;
    color: #320d3e;
}

.container {
    width: 100vw;
    clear: both;
}

.leftbox {
    width: 50vw;
    height: 90vh;
    background-color: #320d3e;
    float: left;
    color: #ffd79d;
}

.leftbox h2 {
    margin: 0.5em 0;
    margin-left: 0.5em;
}

.leftbox p {
    margin-left: 2em;
}

.leftbox .chatme {
    margin-top: 3em;
    margin-left: 2em;
}

.leftbox .chatme p {
    margin-left: 0em;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.leftbox .chatme u {
    color: #f162ff;
}

.leftbox .location {
    margin-left: 2em;
    margin-top: 3em;
}

.leftbox .location p {
    margin-left: 0;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.leftbox .location b {
    font-weight: bold;
}

.leftbox .phone {
    margin-left: 2em;
    margin-top: 3em;
}

.leftbox .phone p {
    margin-left: 0;
    margin-top: 0.5em;
    margin-bottom: 2em;
}

.leftbox .phone u {
    color: #f162ff;
}

.rightbox {
    width: 50vw;
    height: 90vh;
    background-color: #ffd79d;
    float: left;
}

.rightbox h2 {
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.rightbox p {
    margin-left: 2em;
}