html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET */

.navbar {
    width: 100vw;
    height: 10vh;
    background-color: #f162ff;
}

.navbar ul {
    margin-left: 3em;
}

.navbar ul li {
    display: inline-block;
    margin-top: 2em;
    margin-right: 3em;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffd79d;
}

.navbar ul li:hover a {
    font-weight: bold;
    color: #320d3e;
}

.container {
    width: 100vw;
    height: 90vh;
    background-color: #320d3e;
    position: relative;
}

.target {
    position: absolute;
    top: 3em;
    left: 5em;
    color: #ffd79d;
}

.target h2 {
    font-size: 4rem;
}

.target h5 {
    margin-top: 1em;
    font-size: 1.5rem;
}

.box1 {
    width: 20em;
    height: 30em;
    background-color: #d902ee;
    border: 0.3em solid #ffd79d;
    border-radius: 1em;
    position: absolute;
    top: 15em;
    left: 13em;
    clear: both;
}

.box1 h3 {
    font-size: 3rem;
    line-height: 1.1em;
    margin-left: 0.2em;
    color: #ffd79d;
    float: left;
}

.box1 h5 {
    font-size: 1.5rem;
    float: left;
    margin-left: 1em;
    margin-top: 1em;
    line-height: 1.5em;
}

.box2 {
    width: 20em;
    height: 30em;
    background-color: #d902ee;
    border: 0.3em solid #ffd79d;
    border-radius: 1em;
    position: absolute;
    top: 15em;
    left: 45em;
    clear: both;
}

.box2 h3 {
    font-size: 3rem;
    line-height: 1.1em;
    margin-top: 0.5em;
    margin-left: 0.2em;
    color: #ffd79d;
    float: left;
}

.box2 h5 {
    font-size: 1.5rem;
    float: left;
    margin-left: 1em;
    margin-top: 1em;
    line-height: 1.5em;
}

.box3 {
    width: 20em;
    height: 30em;
    background-color: #d902ee;
    border: 0.3em solid #ffd79d;
    border-radius: 1em;
    position: absolute;
    top: 15em;
    left: 75em;
    clear: both;
}

.box3 h3 {
    font-size: 3rem;
    line-height: 1.1em;
    margin-top: 0.5em;
    margin-left: 0.2em;
    color: #ffd79d;
    float: left;
}

.box3 h5 {
    font-size: 1.5rem;
    float: left;
    margin-left: 1em;
    margin-top: 1em;
    line-height: 1.5em;
}